$font-cursive: 'Pacifico', cursive
$font-cursive-upper: 'Amatic SC', cursive
$font-cursive-lower: 'Shadows Into Light', cursive
$font-serif: 'Quando', serif
$font-sans-serif: 'Cabin Condensed', sans-serif
$font-monospace: 'Anonymous Pro', monospace;


$background-color: #d8d8d8
$border-left-width: 8px

$color-1: rgba(217, 83, 62, 0.7)
$color-2: rgba(2, 117, 216, 0.7)
$color-3: rgba(92, 184, 92, 0.7)
$color-4: #5bc0de
$color-5: rgba(2, 117, 216, 0.05)
$color-6: rgba(132, 193, 38, 0.5)


=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  border-radius:         $radius

=rotate($val: -2deg)
  -webkit-transform: rotate($val)
  -moz-transform: rotate($val)
  -ms-transform: rotate($val)
  -o-transform: rotate($val)
  transform: rotate($val)

=scale($val: 0.25)
  -ms-transform: scale($val)
  -moz-transform: scale($val)
  -o-transform: scale($val)
  -webkit-transform: scale(0$val)
  transform: scale($val)

a
  color: gray
a:hover
  color: black

h4
  font-family: $font-cursive-lower
  font-size: 2em
  font-weight: 100
  color: lightgray

h5
  font-family: $font-sans-serif
  color: gray
  margin-top: 10px


.front-page
  height: 50vw
  background-size: 105vw
  background-repeat: no-repeat
  background-position: -10 -280
  background-image: url('https://hd.unsplash.com/photo-1472417583565-62e7bdeda490')

.btn-logout
  margin-top: 5%
  color: #ccc

.btn-logout:hover
  color: #d9534f

.front-form
  margin-top: 5%

.panel-body-front
  background-color: white
  padding-top: 1.5rem
  border-left-width: $border-left-width
  border-color: $color-4


.panel-footer
  font-size: 0.7em
  margin-left: 11rem
  margin-bottom: 10px
  color: gray

.jumbotron-index
  height: 34vw
  background-color: $color-4

.btn-lg
  font-family: $font-cursive
  font-size: 2rem

.generate
  text-align: center
  margin-top: 5rem
  h4
    display: inline
    vertical-align: middle

.front-text, .front-text-index
  font-family: $font-cursive
  text-align: center
  color: white
  p, h2
    display: inline
  p
    font-size: 4em
    font-family: $font-cursive-upper
  h2
    font-size: 6em
  +rotate(-5deg)

.front-text-index
  margin-top: 2vw

body
  background-color: $background-color


.navbar
  +border-radius(0)

.navbar-brand, .brand
  font-family: $font-cursive
  font-size: 2em

.btn-account
  height: 40px
  background-color: transparent
  +border-radius(0)
  color: gray

.btn-account:hover
  color: lightgray

.dropdown-menu-right
  +border-radius(0)

.register-button
  margin-top: 10px !important

.form-label
  color: gray

.brand-login
  margin-top: 25%
  margin-bottom: 30px

.error_message
  color: red

.sign-in-btn, .register-button, input, select, textarea
  margin-left: 2rem
  line-height: inherit
  width: 85%
  height: 60px
  font-size: 1em
  padding-left: 10px

input, select, textarea
  border-color: transparent
  background-color: $color-5


.form-login
  margin-top: -12px

.index-group h3
  display: inline
  font-family: $font-sans-serif

.bd-example
  display: inline

.btn-sm
  margin-bottom: 15px

table
  font-family: $font-sans-serif

.fa-plus-square-o
  color: gray

.fa-plus-square-o:hover
  color: lightgray

.table-title
  margin-bottom: 1.5em
  margin-top: 3em
  padding-left: 1.5em

.education-card
  border-left-width: $border-left-width
  border-color: $color-1

.experience-card
  border-left-width: $border-left-width
  border-color: $color-2

.project-card
  border-left-width: $border-left-width
  border-color: $color-3

.personal-card
  padding: 1rem
  border-left-width: $border-left-width
  border-color: $color-4


.skill-card
  border-left-width: $border-left-width
  border-color: $color-6
  padding: 0.8rem
  width: 22.5%
  h2
    font-family: $font-sans-serif
    font-size: 1.3rem
    display: inline

  .btn
    width: 1.5rem
    padding: 0.3rem
    display: inline
    margin-top: 1rem
    margin-left: 0.2rem
  input, select
    width: 30%
    height: 1.5rem
    background-color: rgba(0, 0, 0, 0.2)
    font-family: $font-monospace
    font-size: 0.7em
    opacity: 0.4
    margin-left: 0.2rem
  form
    display: inline


.skill-tag
  background-color: rgba(0, 0, 0, 0.2)
  color: black
  padding: 0.4rem
  span
    color: rgba(0, 0, 0, 0.1)
  span:hover
    color: rgba(217, 83, 62, 1)

.col-md-gap
  width: 1rem


.personal-info
  font-family: $font-monospace
  font-size: 0.7rem

.name-title
  h3
    font-size: 2em
  p
    font-family: $font-sans-serif

.btn-edit-profile
  width: 100%

.fa-cogs
  font-size: 11em
  color: lightgray

.resume-preview
  text-align: center

.btn-form
  width: 100%


.modal
  font-family: $font-sans-serif
  color: black

  input, textarea, select
    background-color: transparent
    color: gray
    font-family: $font-monospace
    font-size: 1em
    margin-top: -13px
    border: $color-4 solid 1px
    +border-radius(4px)


.modal-header
  background-color: $color-2
  color: white
  border-radius: inherit

.close
  color: white

.close:hover
  color: white

.table td, .table th
    padding: 0
    padding-left: 0.75rem;
    vertical-align: middle
    border-top: 1px solid #eceeef

.btn-primary, .btn-danger
  margin-top: 0.75rem

.edit-delete
  margin-right: 2rem

.btn-edit-profile
  margin-top: 0

th
  padding-left: 2rem

.modal-themes
  background-color: #cccccc

.frame-wrap
  width: 12.7vw
  height: 17vw
  border: 0;
  padding: 0.25rem;
  background-color: #cccccc

  a
    position: absolute
    top: 0
    left: 0
    display: inline-block
    z-index: 5
    width: 13.5vw
    height: 17vw
    background-color: #cccccc
    opacity: 0.4
  a:hover
    background-color: transparent

.frame
  height: 82vw
  width: 60vw
  +scale(0.2)

  -ms-transform-origin: 0 0
  -moz-transform-origin: 0 0
  -o-transform-origin: 0 0
  -webkit-transform-origin: 0 0
  transform-origin: 0 0
