a {
  color: gray; }

a:hover {
  color: black; }

h4 {
  font-family: "Shadows Into Light", cursive;
  font-size: 2em;
  font-weight: 100;
  color: lightgray; }

h5 {
  font-family: "Cabin Condensed", sans-serif;
  color: gray;
  margin-top: 10px; }

.front-page {
  height: 50vw;
  background-size: 105vw;
  background-repeat: no-repeat;
  background-position: -10 -280;
  background-image: url("https://hd.unsplash.com/photo-1472417583565-62e7bdeda490"); }

.btn-logout {
  margin-top: 5%;
  color: #ccc; }

.btn-logout:hover {
  color: #d9534f; }

.front-form {
  margin-top: 5%; }

input {
  opacity: 0.3; }

.panel-footer {
  font-size: 0.7em; }

.front-text, .front-text-index {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: white;
  margin-top: 10vw;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg); }
  .front-text p, .front-text h2, .front-text-index p, .front-text-index h2 {
    display: inline; }
  .front-text p, .front-text-index p {
    font-size: 4em;
    font-family: "Amatic SC", cursive; }
  .front-text h2, .front-text-index h2 {
    font-size: 6em; }

.front-text-index {
  margin-top: 2vw; }

body {
  background-color: #333; }

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.navbar-brand, .brand {
  font-family: "Pacifico", cursive;
  font-size: 2em; }

.btn-account {
  height: 40px;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: gray; }

.btn-account:hover {
  color: lightgray; }

.dropdown-menu-right {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.register-button {
  margin-top: 10px !important; }

.form-label {
  color: gray; }

.brand-login {
  margin-top: 25%;
  margin-bottom: 30px; }

.error_message {
  color: red; }

.sign-in-btn, .register-button, input, select, textarea {
  margin: -7px;
  line-height: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 50px;
  font-size: 1em;
  padding-left: 10px;
  border-color: transparent; }

.index-group h3 {
  display: inline;
  font-family: "Cabin Condensed", sans-serif; }

.bd-example {
  display: inline; }

.btn-sm {
  margin-bottom: 15px; }

table {
  font-family: "Cabin Condensed", sans-serif; }

.fa-plus-square-o {
  color: gray; }

.fa-plus-square-o:hover {
  color: lightgray; }

.table-title {
  margin-bottom: 1.5em;
  margin-top: 3em;
  padding-left: 1.5em; }

.education-card {
  border-left-width: 8px;
  border-color: rgba(217, 83, 62, 0.7); }

.experience-card {
  border-left-width: 8px;
  border-color: rgba(2, 117, 216, 0.7); }

.project-card {
  border-left-width: 8px;
  border-color: rgba(92, 184, 92, 0.7); }

.personal-card {
  padding: 1rem;
  border-left-width: 8px;
  border-color: rgba(0, 0, 0, 0.5); }

.skill-card {
  padding: 0.5rem; }
  .skill-card h2 {
    font-family: "Cabin Condensed", sans-serif;
    font-size: 1.3rem;
    display: inline; }

.skill-tag {
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  padding: 0.4rem; }
  .skill-tag span {
    color: rgba(217, 83, 62, 0.7); }
  .skill-tag span:hover {
    color: #d9533e; }

.personal-info {
  font-family: "Anonymous Pro", monospace;
  font-size: 0.7rem; }

.name-title h3 {
  font-size: 2em; }

.name-title p {
  font-family: "Cabin Condensed", sans-serif; }

.btn-edit-profile {
  width: 100%; }

.fa-cogs {
  font-size: 11em;
  color: lightgray; }

.resume-preview {
  text-align: center; }

.btn-form {
  width: 100%; }

.modal {
  font-family: "Cabin Condensed", sans-serif;
  color: black; }
  .modal input, .modal textarea {
    background-color: rgba(0, 0, 0, 0.2);
    font-family: "Anonymous Pro", monospace;
    font-size: 1em;
    opacity: 0.4; }

.modal-header {
  background-color: #333;
  color: white; }

.close {
  color: white; }

.close:hover {
  color: white; }

.table td, .table th {
  padding: 0;
  padding-left: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #eceeef; }

.btn-primary, .btn-danger {
  margin-top: 0.75rem; }

.edit-delete {
  margin-right: 2rem; }

.btn-edit-profile {
  margin-top: 0; }

th {
  padding-left: 2rem; }

/*# sourceMappingURL=../../../../../../../../../static/resume_app/sass/_style.css.map */