{% extends 'resume_app/base.html' %}

{% block navbar %}
{% include 'resume_app/navbar.html' %}
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumbotron-index">
  <div class="row">
    <div class="col-md-2"></div>

      <div class="front-text-index col-md-8">
        <h2>Welcome&nbsp;</h2>
        <p class="text-uppercase">{{ personal.name }},</p>
        <h4>let's get you a nicely designed resume</h4>
    </div>
  <div class="col-md-2"></div>
</div>

  <div class="row generate">

    <div class="col-md-3"></div>

    <div class="col-md-6">
      <h4>Just complete your info below and &nbsp;</h4>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#themesModal">
      Ceevee it
      </button>

    </div>

    <div class="col-md-3"></div>
  </div>
</div>

<!-- Resume Themes Modal -->
<div class="modal fade" id="themesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-themes">
      <div class="modal-body">

        <div class="row">

          <div class="col-md-4">
            <div class="container frame-wrap">

              <iframe class="frame" src="http://www.fernandogelin.com/resume/resume.html">
              </iframe>
              <a href="http://www.fernandogelin.com/resume/resume.html">
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="container frame-wrap">
              <iframe class="frame" src="http://www.fernandogelin.com/resume/resume.html">
              </iframe>
            </div>
          </div>

          <div class="col-md-4">
            <div class="container frame-wrap">
              <iframe class="frame" src="http://www.fernandogelin.com/resume/resume.html">
              </iframe>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="container frame-wrap">

              <iframe class="frame" src="http://www.fernandogelin.com/resume/resume.html">
              </iframe>
              <a href="http://www.fernandogelin.com/resume/resume.html">
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="container frame-wrap">
              <iframe class="frame" src="http://www.fernandogelin.com/resume/resume.html">
              </iframe>
            </div>
          </div>

          <div class="col-md-4">
            <div class="container frame-wrap">
              <iframe class="frame" src="http://www.fernandogelin.com/resume/resume.html">
              </iframe>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- PERSONAL SECTION -->
<div class="row index-group">
<div class="container  col-md-2"></div>
<div class="card personal-card col-md-5">

    <div class="container  col-md-6">
      <div class="row profile-info">

      <div id="EditModal_personal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditModal_personal_Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>
                  <h3 class="modal-title" id="EditModal_personal_Label">Profile</h3>
                </div>
                  {% include 'resume_app/personal_update_form.html' %}
              </div>
            </div>
      </div>

          <div class="personal-info card-header">

              <p>
                  <span class="fa fa-lg fa-envelope fa-fw" aria-hidden="true"></span>
                  &nbsp;&nbsp;{{ personal.email }}
              </p>


              <p>
                   <span class="fa fa-lg fa-phone fa-fw" aria-hidden="true"></span>
                  &nbsp;&nbsp;{{ personal.phone }}
              </p>
              <p>
                   <span class="fa fa-lg fa-laptop fa-fw" aria-hidden="true"></span>
                  &nbsp;&nbsp;{{ personal.website }}
              </p>
              <p>
                   <span class="fa fa-lg fa-linkedin-square fa-fw" aria-hidden="true"></span>
                  &nbsp;&nbsp;{{ personal.linkedin }}
              </p>
              <p>
                   <span class="fa fa-lg fa-github fa-fw" aria-hidden="true"></span>
                  &nbsp;&nbsp;{{ personal.github }}
              </p>
          </div>
      </div>

    </div>

    <div class="container col-md-6 name-title">
        <h3>{{ personal.name }} , {{ personal.title }}
        </h3>
        <h5>{{ personal.job_title }}</h5>
        <p>{{ personal.location }}</p>
        <p>
            <button type="button" class="btn btn-primary btn-edit-profile" data-toggle="modal" data-target="#EditModal_personal">
              <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>
        </p>
    </div>
</div>
<div class="container  col-md-1 col-md-gap"></div>
<div class="container card skill-card col-md-2">
    <h2>Skills
    <form class="form-group" action="{% url 'resume_app:add_skill' %}" method="post" enctype="multipart/form-data">
           {% for field in skill_form %}
           {% csrf_token %}
        <span class="text-danger small">{{ field.errors }}</span>
           {{ field }}&nbsp;
           {% endfor %}
        <button type="submit" class="btn btn-success btn-sm btn-skill"><span class="fa fa-check" aria-hidden="true"></span></button>
    </form>
    </h2>

    <br>
    {% for skill in skills %}
        <p class="tag tag-default skill-tag">{{ skill.skill }}&nbsp;&nbsp
           <a href="{% url 'resume_app:delete_skill' skill.id %}" class="pull-right">
           <span class="fa fa-times" aria-hidden="true"></span>
           </a>
        </p>
    {% endfor %}
</div>
<div class="container  col-md-2"></div>
</div>


<!-- EXPERIENCE SECTION -->


<div class="row index-group">
<div class="container  col-md-2"></div>
<div class="card experience-card col-md-8">
  <div class="row table-title">
  <h3>Experience</h3>
    <div id="experienceCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="experienceCreateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>
            <h3 class="modal-title" id="experienceCreateModalLabel">New Experience</h3>
          </div>
            {% include 'resume_app/experience_form.html' %}
        </div>
      </div>
    </div>
    <div class="bd-example bd-example-padded-bottom">
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#experienceCreateModal">
        <span class="fa fa-plus" aria-hidden="true"></span>
      </button>
    </div>
  </div>

    <table class="table table-hover">
      <tbody>
        {% for experience in experience_list %}
        <tr>
          <td>{{ experience.job_title }}</td>
          <td>{{ experience.company }}</td>
            <td>{{ experience.description|truncatechars:70 }}</td>
          <div id="EditModal_experience_{{ experience.pk }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditModal_experience_{{ experience.pk }}_Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>
                  <h3 class="modal-title" id="EditModal_experience_{{ experience.pk }}_Label">Experience - {{ experience.job_title }}, {{ experience.company }}</h3>
                </div>
                  {% include 'resume_app/experience_update_form.html' %}
              </div>
            </div>
          </div>

        <td class="pull-right edit-delete">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EditModal_experience_{{ experience.pk }}">
              <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>

           <a href="{% url 'resume_app:delete_experience' experience.id %}">
             <button class="btn btn-danger btn-sm">
                <span class="fa fa-trash-o" aria-hidden="true"></span>
            </button>
          </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container col-md-1"></div>
</div>


<!-- PROJECT SECTION -->


<div class="row index-group">
<div class="container  col-md-2"></div>
<div class="card project-card col-md-8">
  <div class="row table-title">
  <h3>Projects&nbsp;</h3>
    <div id="projectCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="projectCreateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>
            <h3 class="modal-title" id="projectCreateModalLabel">New Project</h3>
          </div>
            {% include 'resume_app/project_form.html' %}
        </div>
      </div>
    </div>
    <div class="bd-example bd-example-padded-bottom">
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#projectCreateModal">
        <span class="fa fa-plus" aria-hidden="true"></span>
      </button>
    </div>
  </div>

    <table class="table table-hover">
      <tbody>
        {% for project in project_list %}
        <tr>
          <td>{{ project.title }}</td>
          <td>{{ project.description|truncatechars:70 }}</td>
            <td><a href="{{  project.link }}" <span class="fa fa-laptop" aria-hidden="true"></span> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ project.github_link }}"> <span class="fa fa-github" aria-hidden="true"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <div id="EditModal_project_{{ project.pk }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditModal_project_{{ project.pk }}_Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>
                  <h3 class="modal-title" id="EditModal_project_{{ project.pk }}_Label">Project - {{ project.title }}</h3>
                </div>
                  {% include 'resume_app/project_update_form.html' %}
              </div>
            </div>
          </div>

        <td class="pull-right edit-delete">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EditModal_project_{{ project.pk }}">
              <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>

           <a href="{% url 'resume_app:delete_project' project.id %}">
             <button class="btn btn-danger btn-sm">
                <span class="fa fa-trash-o" aria-hidden="true"></span>
            </button>
          </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container col-md-2"></div>
</div>

<!-- EDUCATION SECTION -->

<div class="row index-group">
<div class="container  col-md-2"></div>
<div class="card education-card col-md-8">
  <div class="row table-title">

  <h3>Education&nbsp;</h3>
    <div id="educationCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="educationCreateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>
            <h3 class="modal-title" id="educationCreateModalLabel">New Education</h3>
          </div>
            {% include 'resume_app/education_form.html' %}
        </div>
      </div>
    </div>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#educationCreateModal">
        <span class="fa fa-plus" aria-hidden="true"></span>
      </button>
    </div>

<div class="col-md-6">
    <table class="table table-hover">
        <h5>Traditional ed.</h5>
      <tbody>
        {% for education in education_list %}
        {% if education.type == 'Traditional' %}
        <tr>
          <td>{{ education.subject }}, {{ education.level|truncatechars:3 }}</td>
          <td>{{ education.institution }}</td>
          <div id="EditModal_education_{{ education.pk }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditModal_education_{{ education.pk }}_Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>
                  <h3 class="modal-title" id="EditModal_education_{{ education.pk }}_Label">Education - {{ education.subject }}, {{ education.institution }}</h3>
                </div>
                  {% include 'resume_app/education_update_form.html' %}
              </div>
            </div>
          </div>

        <td class="pull-right edit-delete">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EditModal_education_{{ education.pk }}">
              <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>

           <a href="{% url 'resume_app:delete_education' education.id %}">
             <button class="btn btn-danger btn-sm">
                <span class="fa fa-trash-o" aria-hidden="true"></span>
            </button>
          </a>
        </td>
      </tr>
          {% endif %}
    {% endfor %}
      </tbody>
    </table>

    </div>
      <div class="container col-md-6">
      <table class="table table-hover">
          <h5>Modern ed.</h5>
          <tbody>
        {% for education in education_list %}
        {% if education.type == 'Modern' %}
        <tr>
          <td>{{ education.subject }}, {{ education.level|truncatechars:3 }}</td>
          <td>{{ education.institution }}</td>
          <div id="EditModal_education_{{ education.pk }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditModal_education_{{ education.pk }}_Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>
                  <h3 class="modal-title" id="EditModal_education_{{ education.pk }}_Label">Education - {{ education.subject }}, {{ education.institution }}</h3>
                </div>
                  {% include 'resume_app/education_update_form.html' %}
              </div>
            </div>
          </div>

        <td class="pull-right edit-delete">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EditModal_education_{{ education.pk }}">
              <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>

           <a href="{% url 'resume_app:delete_education' education.id %}">
             <button class="btn btn-danger btn-sm">
                <span class="fa fa-trash-o" aria-hidden="true"></span>
            </button>
          </a>
        </td>
      </tr>
          {% endif %}
    {% endfor %}
      </tbody>
    </table>


  </div>

  </div>
</div>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}


{% endblock %}
